setuptools==69.5.1
wheel==0.43.0
pip==24.0

flask==3.0.3
gunicorn==22.0.0
werkzeug==3.0.3

numpy==1.24.4
pandas==2.0.3
openpyxl==3.1.2
pdfplumber==0.10.3

python-dateutil>=2.8.2
pytz>=2020.1
tzdata>=2022.7
et-xmlfile
pdfminer.six==20231228
Pillow>=9.1,<11
pypdfium2>=4.18.0
charset-normalizer>=2.0.0
cryptography>=36.0.0
cffi>=1.14
pycparser
six>=1.5